# 카카오 REST API 키 / 구글 OAuth 클라이언트 ID — 둘 다 노출돼도 되는 공개 값
VITE_KAKAO_REST_API_KEY=c5ca69a2ef218feb7c2079fec40d987f
VITE_GOOGLE_CLIENT_ID=796983321328-qqq5nksrs1hs3io7919oqu9unp4ij0k8.apps.googleusercontent.com
VITE_GOOGLE_PICKER_CLIENT_ID=1041543384909-gae49i3injlqsq7l5utf0rbnoknisqb9.apps.googleusercontent.com
VITE_GOOGLE_PICKER_API_KEY=AIzaSyDTFsXNkq3rF8RABsp1rzlURuIu8pbJUnY
VITE_GOOGLE_PICKER_APP_ID=1041543384909
VITE_FRONTEND_URL=
